.example-card {
  max-width: 390px;
  height: 550px;

  .cut {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__title {
    height: 50px;
    -webkit-line-clamp: 2;
  }

  &__body {
    height: 80px;
    -webkit-line-clamp: 4;
  }

  &__img {
    margin: 5px 0 15px;
  }
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
